@charset "UTF-8";


body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}/*一定的初始化是必要的*/

a:active,
a:hover {
  outline: 0;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }



body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-image: url(img/BG.png);
  background-attachment: fixed;
  height: 0px;
  font: normal 100%/1.4 sans-serif;
}

ul li{
  list-style-type: none;
  padding-bottom: 0;
}

p {
  font-size: 12px;
}

/* ------------------------------------------
  NAV STYLES
--------------------------------------------- */


.nav {
  width: 100%;
}

.nav_logo {
  text-align: left;
  margin-left: 4em;
  margin-top: 5em;
}

.nav_logo_toggle {
  position: fixed;
}

.nav-collapse,
.nav-collapse ul{
  list-style: none;
  width: 100%;
}

.nav-collapse{
  position: absolute;
  left: 0;
}

.nav-collapse ul {
  display: block;
}


.nav-collapse a {
  text-decoration: none;
  width: 100%;
}

.nav_menu {
  text-align: center;
}

.nav_menu a{
  font-size: 14px;
  color: #000000;
  line-height: 44px;
}


.nav_menu a:hover{
  background-color: rgba(215,215, 215, 0.6);
}


.nav_link {
  position: relative;
  top: 0;
  bottom: 0;
  text-align: center;
}

.nav_link ul li{
  display: inline-block;
  width: 30px;
}

.nav_link a{
  width: 30px;
}

.gmail {
  margin-left: 6px;
  margin-top: 8px;
}
.gmail a{
  font-size: 12px;
  color: #838383;
}

.nav_info {
  font-size: 12px;
  text-align: center;
  margin-top: 28px;
  margin-left: 8px;
}
.nav_info a{
  color: #cccccc;
}

/*导航主体分割线--------------------------------------------*/



.body_main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 4em;
  right: 0;
  bottom: 0;
}


#myCarousel{
  position: absolute;
  max-width: 1038px;
  margin-right: 14px;
}

.carousel-inner{
  position: relative;
  text-align: center;
  max-width: 1038px;
}

.carousel-small-contrl {
  display: inline-block;
  float: right;
  margin-right: 10px;
}

.carousel-small-contrl li{
  display: inline-block;
  width: 100px;
}

.carousel-small-contrl li a{
  max-width: 100px;
  padding: 0px;
  border: 0px;
}

.carousel-small-contrl li img{
  width: 100px;
}


.carousel-small-contrl ul{
  text-align: center;
  position: relative;
  margin-top: -66px;
  padding: 0;
}


/*桌子分割线-----------------------------------------------*/

.body_desk{
  position:fixed;
  bottom: 0;
  text-align: center;
}

.desk{
  position: absolute;
  margin-left: 12%;
  bottom: 0;
}
.cola{
  display: inline-block;
  position: relative;
  left: 8%;
  top: -30px;
}
.liuyan{
  display: inline-block;
  position: relative;
  left: 16%;
  top: -12px;

}
.pen{
  display: inline-block;
  position: relative;
  left:18%;
  top: -14px;

}

/*缩略分割线-----------------------------------------------*/

.body_gd {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  top: 4em;
  bottom: 0;
  z-index: -1;
  height: 0;
}

.gd_switch {
  position: fixed;
  right: 8%;
  bottom: 10%;
  display: inline-block;
}

.gd_switch_bg {
  width: 73px;
  height: 74px;
  background: url(img/switch_bg@2x.png);
  background-size: 73px auto;

}

.gd_switch ul{
  width: 48px;
  height: auto;
  padding-top: 10px;
  margin-left: 13px;
}
.gd_switch li img{
  width: 48px;
  height: auto;
}


.gd_gallery {
  text-align: center;
  position: relative;
  z-index: -1;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.3s ease-in-out;
}
  .gd_gallery.is-showing {
    opacity: 1;
    transform: translateX(0px);
  }

.gd_frame {
  position: absolute;
  width: 100%;
  z-index: -2
}

.gd_frame a img{
  width: 573px;
}
.gd_image a img{
  max-width: 200px;
}

.gd_work {
  position: absolute;
  width: 100%;
  top: 80px;
  z-index: ;
}
.gd_work a img{
  text-align: center;
  margin-bottom: 0;
}

.gd_name {
  position: relative;
  left:20px;
}

.gd_name_bg{
  font-style: italic;
  margin:0 auto;
  width:fit-content;
  width:-webkit-fit-content;
  width:-moz-fit-content;
  min-width: 100px;
  word-wrap: break-word;
  background-color: #ffffff;
  padding: 10px 15px 10px 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.gd_text {
  left:24px;
  max-width: 800px;
  margin:0 auto;
  margin-top: 20px;
  color: #a1a1a1;
}

/*gd_single分割线-----------------------------------------------*/




@media (min-width: 60em) {
    .nav {
      width: 100%;
      height: 0;
      position: fixed;
    }
    .nav_menu li {
      height: 45px;
      width: 100%;
      text-align: center;
    }
    .nav_menu a {
      display: block;
      height: 45px;
      width: 100%;
    }
    .nav_menu {
      margin-top: 3em;
      width: 22em;
    }
    .nav_logo_toggle {
      display: none;
    }
    .nav-collapse {
      width: 22em;
    }
    .body_main {
      width: auto;
      left: 22em;
    }
    .carousel-point{
      display: none;
    }
    #myCarousel{
      margin-left: 30px;
    }
    .body_gd {
      left: 18%;
      padding-top: 4em;
    }
}


@media (max-width: 50em) {
  .body_desk{
    display: none;
  }
}

@media (max-width: 79em) and (min-width: 60em){
  .gd_text{
    width: 70%
  }
}


@media (max-width: 38em) {
  .gd_frame {
    display: none;
  }
  .gd_work a img{
    border: 15px solid;
    border-color: #ffffff;
    box-shadow: 0px 5px 12px #888888;
  }
}

@media screen and (max-width: 60em) {

  .nav_logo {
        display: none;
    }

  .nav_logo_toggle {
    margin-left: 30px;
    margin-top: 20px;
  }

  .nav_menu {
    padding-top: 16px;
    width: 100%;
  }
  .nav_menu li {
    height: 44px;
    text-align: center;
  }
  .nav_menu a {
    display: block;
    height: 45px;
    width: 100%;
    border-bottom: 1px solid rgba(204,204,204, 1);
    border-top: 1px solid rgba(204,204,204, 1);
  }
  .carousel-small-contrl {
      display: none;
  }
  .nav_link,.nav_info{
      display: none;
  }
  .body_gd {
    position: absolute;
    margin-top: -80px;
  }
  .gd_switch{
    display: none;
  }

  .js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
  }

  .body_main {
    position: relative;
    top: 80px;
  }

  .body_gd {
    position: relative;
    text-align: center;
    top: 80px;
  }

  .carousel-inner {
    margin: 0;
  }

}

/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

@font-face {
  font-family: "responsivenav";
  src:url("icons/responsivenav.eot");
  src:url("icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("icons/responsivenav.ttf") format("truetype"),
    url("icons/responsivenav.woff") format("woff"),
    url("icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}


.nav-toggle {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 55px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.nav-toggle:before {
  color: #000000; /* Edit this to change the icon color */
  font-family: "responsivenav", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 30px;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-toggle.active::before {
  font-size: 30px;
  content:"x";
}
